<div class="view mblView">
	<style>
		.resultsDialogContainer {
			white-space:pre;
			overflow:auto;
			text-align:left;
			width:472px;
			margin:8px;
			height:300px;
			padding:8px;
			background-color:#000;
			border-radius: 8px;
		}
	</style>
	<h1 data-dojo-type="dojox/mobile/Heading" data-dojo-props="back:'home', fixed:'top'">Worklight Request Adapter Tests</h1>
	
    <div data-dojo-type="dojox/mobile/RoundRect">
    	The dworklight/request module provides a promise based "request" wrapper for WL Adapters.
    </div>
    <div data-dojo-type="dojox/mobile/RoundRect">
    	<div data-dojo-attach-point="dapForm"></div>
    </div>

</div>