<div class="view mblView">
	<h1 data-dojo-type="dojox/mobile/Heading" data-dojo-props="back:'home'">Worklight Require Extension</h1>
	
    <div data-dojo-type="dojox.mobile.RoundRect" data-dojo-props="">
        <p>
            This tests out the custom &quot;dworklight/require&quot; module's
            ability to load remote modules from the worklight mobileweb location.
        </p>
        <p>
        	Typical Worklight apps are deployed with all modules embedded in the installed app.
        	There are often time where we want to be able to access "remote modules" that are hosted
        	on the Worklight server.         	
        </p>
    </div>   

</div>