<div class="view mblView">
  <h1 data-dojo-type="dojox/mobile/Heading">dworklight Test App</h1>
  <div data-dojo-type="dojox/mobile/EdgeToEdgeCategory" data-dojo-props="label:'Worklight Tests'"></div>
  <ul data-dojo-type="dojox/mobile/EdgeToEdgeList">
    <li data-dojo-type="dojox/mobile/ListItem" data-dojo-props="clickable:true,target:'activity'">Activity Test</li>
    <li data-dojo-type="dojox/mobile/ListItem" data-dojo-props="clickable:true,target:'console'">Console Test</li>
    <li data-dojo-type="dojox/mobile/ListItem" data-dojo-props="clickable:true,target:'featuresWorklight'">Features Test</li>
    <li data-dojo-type="dojox/mobile/ListItem" data-dojo-props="clickable:true,target:'request'">Request Test</li>
    <li data-dojo-type="dojox/mobile/ListItem" data-dojo-props="clickable:true,target:'require'">Require Test</li>
  </ul>
  <div data-dojo-type="dojox/mobile/EdgeToEdgeCategory" data-dojo-props="label:'Cordova Tests'"></div>
  <ul data-dojo-type="dojox/mobile/EdgeToEdgeList">
    <li data-dojo-type="dojox/mobile/ListItem" data-dojo-props="clickable:true,target:'camera'">Camera Test</li>
    <li data-dojo-type="dojox/mobile/ListItem" data-dojo-props="clickable:true,target:'featuresCordova'">Features Test</li>
  </ul>
</div>